@import "reset.css";
body {
  background-color: #f2f2f3;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  transition: background 0.2 linear;
}

body.dark {
  background-color: black;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #c2c2c2;
  display: flex;
  border-radius: 50px;
  height: 26px;
  width: 50px;
  position: relative;
}

.Ball {
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.checkbox:checked + .label .Ball {
  transform: translateX(24px);
}

.checkbox:checked + .label {
  background-color: #2c2c2c;
}

.canvas {
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls .controls__btns {
  margin-bottom: 30px;
}

.controls__btns button {
  all: unset;
  background-color: white;
  cursor: pointer;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: 700;
}

.controls .controls__colors {
  display: flex;
}

.controls__colors .controls__color {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls .controls__range {
  margin-bottom: 30px;
}
