* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(131, 174, 238);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.date {
  font-size: 60px;
  font-weight: bold;
}

.digital {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.digitalTime {
  width: 150px;
  font-size: 30px;
  font-weight: 500;
}

.digitalButton {
  color: rgb(230, 234, 240);
  font-weight: s;
  background-color: rgb(131, 174, 238);
  border: 2px solid rgb(172, 199, 240);
  margin-top: 3px;
  margin-left: 20px;
  height: 36px;
  width: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
  padding-right: 2px;
  font-weight: 500;
}

.digitalButton:hover {
  cursor: pointer;
  background-color: rgb(150, 186, 240);
}

.analog_clock {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: white;
  margin: 30px auto;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.analog_hour,
.analog_minute,
.analog_second {
  border-radius: 1px;
  position: relative;
  transform-origin: 100%; /* 오른쪽 끝을 기준으로 회전 */
  transform: rotate(90deg);
}

.analog_hour {
  height: 2px; /* 바늘의 두께 */

  z-index: 2;
  width: 60px;
  top: 100px;
  left: 40px;
  background-color: rgb(172, 199, 240);
}

.analog_minute {
  height: 2px; /* 바늘의 두께 */

  z-index: 1;
  width: 90px;
  top: 98px;
  left: 10px;
  background-color: rgb(172, 199, 240);
}

.analog_second {
  height: 3px; /* 바늘의 두께 */

  z-index: 3;
  width: 90px;
  top: 96px;
  left: 10px;
  background-color: rgb(243, 143, 130);
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather {
  display: flex;
  flex-direction: column;
}

.weather_top {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: flex-end;
  justify-content: center;
}

.weather_temperature {
  font-size: 48px;
  font-weight: bold;
}

.weather_main {
  font-size: 32px;
  margin-left: 30px;
  text-align: bottom;
  margin-bottom: 5px;
  font-weight: bold;
}

.weather_temps,
.weather_others {
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}

.weather_temps > span,
.weather_others > span {
  color: rgb(194, 209, 233);
}

.weather_icon > img {
  width: 64px;
  height: 64px;
}
